/bootstrapping.properties
# Generated custom encryption files
/publish/bundles/com.ibm.ws.crypto.sample.customencryption_1.0.jar
/publish/features/customEncryption-1.0.mf
/publish/features/l10n/customEncryption-1.0.properties
/publish/files/customEncryption.jar